mat-card {
  margin: 4rem;
  padding: 4rem;
  background-color: white;
  width: 40rem;
  background-color: cornflowerblue;
}

.inputArea{
  background-color: white;
  margin-top: 0.8rem;
}

.buttonForm{
  margin-top: 0.8rem;
}

mat-form-field {
  width: 100%;
}
